.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.appName {
  font-weight: 700;
  font-size: 15px;
  line-height: 14px;
}

.textBox {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  width: 70%;
  margin: 10px 0px 10px 0px;
  text-align: left;
}

.photo {
  /* grid-area: areaA; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
  /* grid-row: 1; grid-column: 1; */
  /* background: #8f8; */
}

.photoUpload {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    justify-content: center;
}

.hobbyButton {
  width: fit-content;
  height: 25px;
  background-color: #FFE5EB;
  border-radius: 100vh;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 0px 10px;
}

.favoriteButton {
  width: fit-content;
  height: 25px;
  background-color: #bad7df;
  border-radius: 100vh;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 0px 10px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}

.submitButton {
  background: #3F80FF;
  border-radius: 6.66075px;
  width: 20%;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border: none;

  margin: 20px 0px;
}

.input {
  line-height: 1.5;
}

.inputHobbyButton {
  display: none;
}
.inputTypeButton {
  display: none;
}

.inputHobbyButton:checked+label{
  background: #f8bcca;
  color: #FFF;
}

.inputTypeButton:checked+label {
  background: #60a0b0;
  color: #FFF;
}

.sendChatContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  margin: 10px 0px;
  width: 90%;
}

.receiveChatContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 10px 0px;
  width: 90%;
}

.sendMessageContainer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 0px 0px;
    width: 95%;
    height: 60px;

    position: fixed;
    bottom: 30px;
}

.sendMessageContainerl {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 0px 0px;
  width: 95%;
  height: 60px;

  bottom: 30px;
}




.footerContainer {
  margin-top: auto;
  width: 100%;
}

.message {
  width: 75%;
}

.chatright {
  width: auto;
  position: absolute;
  right: 22%;
  display: inline-block;
  margin: 1.5em 0;
  padding: 10px 15px;
  overflow-wrap: break-word;
  word-break: break-all;
  height: auto;
  max-width: 55%;
  color: rgb(8, 8, 8);
  font-size: 12px;
  background: #d0ddeb;
  border-radius: 15px;
}

.chatright:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -1px;
  border: 5px solid transparent;
  border-left: 10px solid #d0ddeb;
}

.chatleft {
  width: auto;
  position: absolute;
  left: 22%;
  display: inline-block;
  margin: 1.5em 0;
  padding: 10px 15px;
  overflow-wrap: break-word;
  word-break: break-all;
  height: auto;
  max-width: 55%;
  color: rgb(8, 8, 8);
  font-size: 12px;
  background: #d0ddeb;
  border-radius: 15px;
}

.chatleft:before {
  content: "";
  position: absolute;
  top: 50%;
  right:  100%;
  margin-top: -1px;
  border: 5px solid transparent;
  border-right: 10px solid #d0ddeb;
}