.container {
    display: grid;
    grid-template-rows: 100px 50px 50px 50px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "areaA areaB areaB"
        "areaA areaB areaB"
        "areaD areaC areaC"
        "areaD areaC areaC";
    /* grid-template-columns: 200px 200px */
}

.photo {
    grid-area: areaA;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.message {
    grid-area: areaC;
    /* margin: auto; */
    vertical-align: middle;
    text-align: left;
    /* grid-row: 2; grid-column: 2; */
    /* background: #88f; */
}

.name_likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.name {
    grid-area: areaD;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.likes {
    grid-area: areaD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.thumbUp {
  margin-top: 8px;
  margin-right: 5px;
}

.hobbies {
    grid-area: areaB;
    vertical-align: middle;
    text-align: left;
}

.hobby {
  width: fit-content;
  background-color: #FFE5EB;
  border-radius: 100vh;
  text-align: center;
  margin: 10px;
  padding: 0px 10px;
}

.talkButton {
    grid-area: areaC;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3F80FF;
    border-radius: 6.66075px;
    width: 150px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    border: none;
    margin: 20px 0px;
}

.mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subTitle {
    font-style:italic;
    margin-left: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}